
GenealogiaPortuguesa/bin/Debug/BouncyCastle.Crypto.dll
GenealogiaPortuguesa/bin/Debug/BouncyCastle.Crypto.xml
GenealogiaPortuguesa/bin/Debug/Common.Logging.Core.dll
GenealogiaPortuguesa/bin/Debug/Common.Logging.Core.pdb
GenealogiaPortuguesa/bin/Debug/Common.Logging.Core.xml
GenealogiaPortuguesa/bin/Debug/Common.Logging.dll
GenealogiaPortuguesa/bin/Debug/Common.Logging.pdb
GenealogiaPortuguesa/bin/Debug/Common.Logging.xml
GenealogiaPortuguesa/bin/Debug/GenealogiaPortuguesa.exe
GenealogiaPortuguesa/bin/Debug/GenealogiaPortuguesa.exe.config
GenealogiaPortuguesa/bin/Debug/GenealogiaPortuguesa.pdb
GenealogiaPortuguesa/bin/Debug/GenealogiaPortuguesa.vshost.exe
GenealogiaPortuguesa/bin/Debug/GenealogiaPortuguesa.vshost.exe.config
GenealogiaPortuguesa/bin/Debug/GenealogiaPortuguesa.vshost.exe.manifest
GenealogiaPortuguesa/bin/Debug/itext.barcodes.dll
GenealogiaPortuguesa/bin/Debug/itext.barcodes.xml
GenealogiaPortuguesa/bin/Debug/itext.forms.dll
GenealogiaPortuguesa/bin/Debug/itext.forms.xml
GenealogiaPortuguesa/bin/Debug/itext.io.dll
GenealogiaPortuguesa/bin/Debug/itext.io.xml
GenealogiaPortuguesa/bin/Debug/itext.kernel.dll
GenealogiaPortuguesa/bin/Debug/itext.kernel.xml
GenealogiaPortuguesa/bin/Debug/itext.layout.dll
GenealogiaPortuguesa/bin/Debug/itext.layout.xml
GenealogiaPortuguesa/bin/Debug/itext.pdfa.dll
GenealogiaPortuguesa/bin/Debug/itext.pdfa.xml
GenealogiaPortuguesa/bin/Debug/itext.sign.dll
GenealogiaPortuguesa/bin/Debug/itext.sign.xml
GenealogiaPortuguesa/bin/Debug/itext.styledxmlparser.dll
GenealogiaPortuguesa/bin/Debug/itext.styledxmlparser.xml
GenealogiaPortuguesa/bin/Debug/itext.svg.dll
GenealogiaPortuguesa/bin/Debug/itext.svg.xml
packages/Common.Logging.3.4.1/.signature.p7s
packages/Common.Logging.3.4.1/Common.Logging.3.4.1.nupkg
packages/Common.Logging.3.4.1/lib/net35/Common.Logging.dll
packages/Common.Logging.3.4.1/lib/net35/Common.Logging.pdb
packages/Common.Logging.3.4.1/lib/net35/Common.Logging.xml
packages/Common.Logging.3.4.1/lib/net40/Common.Logging.dll
packages/Common.Logging.3.4.1/lib/net40/Common.Logging.pdb
packages/Common.Logging.3.4.1/lib/net40/Common.Logging.xml
packages/Common.Logging.3.4.1/lib/netstandard1.3/Common.Logging.dll
packages/Common.Logging.3.4.1/lib/netstandard1.3/Common.Logging.pdb
packages/Common.Logging.3.4.1/lib/netstandard1.3/Common.Logging.xml
packages/Common.Logging.Core.3.4.1/.signature.p7s
packages/Common.Logging.Core.3.4.1/Common.Logging.Core.3.4.1.nupkg
packages/Common.Logging.Core.3.4.1/lib/net40/Common.Logging.Core.dll
packages/Common.Logging.Core.3.4.1/lib/net40/Common.Logging.Core.pdb
packages/Common.Logging.Core.3.4.1/lib/net40/Common.Logging.Core.XML
packages/Common.Logging.Core.3.4.1/lib/netstandard1.0/Common.Logging.Core.dll
packages/Common.Logging.Core.3.4.1/lib/netstandard1.0/Common.Logging.Core.pdb
packages/Common.Logging.Core.3.4.1/lib/netstandard1.0/Common.Logging.Core.xml
packages/Common.Logging.Core.3.4.1/lib/portable-win+net40+sl40+wp7+wpa81/Common.Logging.Core.dll
packages/Common.Logging.Core.3.4.1/lib/portable-win+net40+sl40+wp7+wpa81/Common.Logging.Core.pdb
packages/Common.Logging.Core.3.4.1/lib/portable-win+net40+sl40+wp7+wpa81/Common.Logging.Core.XML
packages/itext7.7.1.8/.signature.p7s
packages/itext7.7.1.8/gnu-agpl-v3.0.md
packages/itext7.7.1.8/itext7.7.1.8.nupkg
packages/itext7.7.1.8/lib/net40/itext.barcodes.dll
packages/itext7.7.1.8/lib/net40/itext.barcodes.xml
packages/itext7.7.1.8/lib/net40/itext.forms.dll
packages/itext7.7.1.8/lib/net40/itext.forms.xml
packages/itext7.7.1.8/lib/net40/itext.io.dll
packages/itext7.7.1.8/lib/net40/itext.io.xml
packages/itext7.7.1.8/lib/net40/itext.kernel.dll
packages/itext7.7.1.8/lib/net40/itext.kernel.xml
packages/itext7.7.1.8/lib/net40/itext.layout.dll
packages/itext7.7.1.8/lib/net40/itext.layout.xml
packages/itext7.7.1.8/lib/net40/itext.pdfa.dll
packages/itext7.7.1.8/lib/net40/itext.pdfa.xml
packages/itext7.7.1.8/lib/net40/itext.sign.dll
packages/itext7.7.1.8/lib/net40/itext.sign.xml
packages/itext7.7.1.8/lib/net40/itext.styledxmlparser.dll
packages/itext7.7.1.8/lib/net40/itext.styledxmlparser.xml
packages/itext7.7.1.8/lib/net40/itext.svg.dll
packages/itext7.7.1.8/lib/net40/itext.svg.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.barcodes.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.barcodes.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.forms.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.forms.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.io.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.io.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.kernel.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.kernel.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.layout.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.layout.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.pdfa.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.pdfa.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.sign.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.sign.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.styledxmlparser.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.styledxmlparser.xml
packages/itext7.7.1.8/lib/netstandard1.6/itext.svg.dll
packages/itext7.7.1.8/lib/netstandard1.6/itext.svg.xml
packages/itext7.7.1.8/LICENSE.md
packages/Microsoft.CSharp.4.0.1/dotnet_library_license.txt
packages/Microsoft.CSharp.4.0.1/lib/MonoAndroid10/_._
packages/Microsoft.CSharp.4.0.1/lib/MonoTouch10/_._
packages/Microsoft.CSharp.4.0.1/lib/net45/_._
packages/Microsoft.CSharp.4.0.1/lib/netcore50/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.0.1/lib/netstandard1.3/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.0.1/lib/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.CSharp.4.0.1/lib/win8/_._
packages/Microsoft.CSharp.4.0.1/lib/wp80/_._
packages/Microsoft.CSharp.4.0.1/lib/wpa81/_._
packages/Microsoft.CSharp.4.0.1/lib/xamarinios10/_._
packages/Microsoft.CSharp.4.0.1/lib/xamarinmac20/_._
packages/Microsoft.CSharp.4.0.1/lib/xamarintvos10/_._
packages/Microsoft.CSharp.4.0.1/lib/xamarinwatchos10/_._
packages/Microsoft.CSharp.4.0.1/Microsoft.CSharp.4.0.1.nupkg
packages/Microsoft.CSharp.4.0.1/ref/MonoAndroid10/_._
packages/Microsoft.CSharp.4.0.1/ref/MonoTouch10/_._
packages/Microsoft.CSharp.4.0.1/ref/net45/_._
packages/Microsoft.CSharp.4.0.1/ref/netcore50/de/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/es/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/fr/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/it/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/ja/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/ko/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.0.1/ref/netcore50/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/ru/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/zh-hans/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netcore50/zh-hant/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/de/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/es/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/fr/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/it/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/ja/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/ko/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/Microsoft.CSharp.dll
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/ru/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/zh-hans/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/netstandard1.0/zh-hant/Microsoft.CSharp.xml
packages/Microsoft.CSharp.4.0.1/ref/portable-net45+win8+wp8+wpa81/_._
packages/Microsoft.CSharp.4.0.1/ref/win8/_._
packages/Microsoft.CSharp.4.0.1/ref/wp80/_._
packages/Microsoft.CSharp.4.0.1/ref/wpa81/_._
packages/Microsoft.CSharp.4.0.1/ref/xamarinios10/_._
packages/Microsoft.CSharp.4.0.1/ref/xamarinmac20/_._
packages/Microsoft.CSharp.4.0.1/ref/xamarintvos10/_._
packages/Microsoft.CSharp.4.0.1/ref/xamarinwatchos10/_._
packages/Microsoft.CSharp.4.0.1/ThirdPartyNotices.txt
packages/Portable.BouncyCastle.1.8.1.3/.signature.p7s
packages/Portable.BouncyCastle.1.8.1.3/lib/net40/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.1.3/lib/net40/BouncyCastle.Crypto.xml
packages/Portable.BouncyCastle.1.8.1.3/lib/netstandard1.0/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.1.3/lib/netstandard1.0/BouncyCastle.Crypto.xml
packages/Portable.BouncyCastle.1.8.1.3/lib/netstandard1.3/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.1.3/lib/netstandard1.3/BouncyCastle.Crypto.xml
packages/Portable.BouncyCastle.1.8.1.3/lib/netstandard2.0/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.1.3/lib/netstandard2.0/BouncyCastle.Crypto.xml
packages/Portable.BouncyCastle.1.8.1.3/lib/portable-net40+sl5+win8+wp8+wpa81/BouncyCastle.Crypto.dll
packages/Portable.BouncyCastle.1.8.1.3/lib/portable-net40+sl5+win8+wp8+wpa81/BouncyCastle.Crypto.xml
packages/Portable.BouncyCastle.1.8.1.3/Portable.BouncyCastle.1.8.1.3.nupkg
.vs/GenealogiaPortuguesa/v14/.suo
*.cs
GenealogiaPortuguesa/bin/Release/itext.svg.dll
GenealogiaPortuguesa/bin/Release/itext.styledxmlparser.dll
GenealogiaPortuguesa/bin/Release/itext.sign.dll
GenealogiaPortuguesa/bin/Release/itext.pdfa.dll
GenealogiaPortuguesa/bin/Release/itext.layout.dll
GenealogiaPortuguesa/bin/Release/itext.kernel.dll
GenealogiaPortuguesa/bin/Release/itext.io.dll
GenealogiaPortuguesa/bin/Release/itext.forms.dll
GenealogiaPortuguesa/bin/Release/itext.barcodes.dll
GenealogiaPortuguesa/bin/Release/GenealogiaPortuguesa.vshost.exe
GenealogiaPortuguesa/bin/Release/GenealogiaPortuguesa.exe
GenealogiaPortuguesa/bin/Release/Common.Logging.dll
GenealogiaPortuguesa/bin/Release/Common.Logging.Core.dll
GenealogiaPortuguesa/bin/Release/BouncyCastle.Crypto.dll
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.About.resources
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.csproj.FileListAbsolute.txt
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.csproj.GenerateResource.Cache
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.exe
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.Form1.resources
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.pdb
GenealogiaPortuguesa/obj/Debug/GenealogiaPortuguesa.Properties.Resources.resources
GenealogiaPortuguesa/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.About.resources
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.csproj.FileListAbsolute.txt
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.csproj.GenerateResource.Cache
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.csprojResolveAssemblyReference.cache
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.exe
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.Form1.resources
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.pdb
GenealogiaPortuguesa/obj/Release/GenealogiaPortuguesa.Properties.Resources.resources
